name: Test Benchmark

on:
  workflow_call:
    inputs:
      benchopt_branch:
        description: Branch of benchopt to install to test the benchmark.
        default: benchopt@main
        required: false
        type: string
      benchopt_version:
        description: |
          If set, use a specific version of benchopt for the tests,
          thus ignoring the benchopt_branch input.
        default: git
        required: false
        type: string

jobs:
  test-benchmark:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      CONDA_ENV: 'test_env'
      VERSION_PYTHON: ${{ matrix.version_python }}
      BENCHOPT_BRANCH: ${{ inputs.benchopt_branch }}
      BENCHOPT_VERSION: ${{ inputs.benchopt_version }}
      BENCHOPT_DEBUG: 1

    defaults:
      run:
        # Need to use this shell to get conda working properly.
        # See https://github.com/marketplace/actions/setup-miniconda#important
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: ${{ env.CONDA_ENV }}
        python-version: 3.8
        # Use miniforge to only get conda-forge as default channel.
        miniforge-version: latest

    - run: conda info

    - name: Install benchopt and its dependencies
      run: |
        conda info
        conda install -yq pip

        # Get the correct branch of benchopt
        if [[ "$BENCHOPT_VERSION" == "git" ]]
        then
          user=${BENCHOPT_BRANCH%@*}
          branch=${BENCHOPT_BRANCH##*@}
          pip install -U git+https://github.com/$user/benchopt@$branch
        elif [[ "$BENCHOPT_VERSION" == "latest" ]]
        then
          pip install -U benchopt
        else
          pip install -U benchopt==$BENCHOPT_VERSION
        fi

    - name: Test
      run: |
        benchopt test . --env-name bench_test_env -vl
        benchopt test . --env-name bench_test_env -vl --skip-install


  linter-flake8:
    if ${{ inputs.benchopt_version == 'git' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .
